:root {
    --var-text-color-alt: #d7dae0;

    --var-widget-color: #babec4;
    --var-highlight-color: #dfe8f5;
    --var-foreground-color: #353b45;
    --var-border-color: #181a1f;
    --var-page-background-color: #293241;
    --var-alert-color: #ec04046b;

    --ui-font: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
        Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --ui-border-radius: 0.25rem;

    --ui-text-color: #000;

    --ui-text-color-alt: rgb(219, 219, 219);

    --ui-hover-brightness: 0.8;

    --ui-accent-color: #29487c;
    --ui-danger-color: #b62433;

    --ui-button-primary-color: #045bdd;

    --ui-background-color: #fff;

    --ui-panel-color: #dadadb;

    --ui-widget-background-color: #cfcfcf;

    --ui-value-positive-color: rgb(3, 146, 27);
    --ui-value-negative-color: rgb(197, 0, 0);
}

@media (prefers-color-scheme: dark) {
    :root {
        --ui-text-color: #aab2c0;

        --ui-button-primary-color: #034ec0;

        --ui-hover-brightness: 1.2;

        --ui-background-color: #282c34;

        --ui-panel-color: #212529;

        --ui-widget-background-color: #353b45;
    }
}

.Button {
    padding: 0.375rem 0.75rem;
    color: var(--ui-text-color-alt);
    border: none;
    border-radius: var(--ui-border-radius);
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
        filter 0.15s ease-in-out;
}

.Button:hover {
    filter: brightness(var(--ui-hover-brightness));
}

.ButtonPrimary {
    background-color: var(--ui-button-primary-color);
}

.ButtonDanger {
    background-color: var(--ui-danger-color);
}

.ButtonSecondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.Modal {
    position: absolute;

    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;

    margin: 0 auto;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ModalDialog {
    width: auto;
    min-width: 400px;
    margin: 0 auto;
}

.ModalContent {
    background-clip: padding-box;
    background-color: var(--ui-panel-color);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    outline: 0;
    pointer-events: auto;
    position: relative;
    width: 100%;
}

.ModalHeader {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
}

.ModalTitle {
    margin: 0;
}

.ModalBody {
    flex: 1 1 auto;
    padding: 1rem;
    position: relative;
}

.ModalFooter {
    align-items: center;
    border-bottom-left-radius: calc(0.3rem - 1px);
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-top: 1px solid #8d8f91;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 0.75rem;
}

.ButtonRow {
    display: flex;
    gap: 0.75rem;
}

.FormLayout {
    display: grid;
    grid-template-columns: minmax(7.5rem, max-content) minmax(
            min-content,
            15rem
        );
    grid-gap: 1.5rem;
}

.VBoxLayout {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.75rem;
}

.Select {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    border-radius: var(--ui-border-radius);
    border: none;

    font-size: 1rem;

    color: var(--ui-text-color);
    background-color: var(--ui-widget-background-color);
}

.TextBox {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    border-radius: var(--ui-border-radius);
    border: 1px solid var(--ui-widget-background-color);

    font-size: 1rem;

    color: var(--ui-text-color);
    background-color: var(--ui-widget-background-color);
}

.TextBox:disabled {
    opacity: 0.7;
}

.TextBox.TextBoxError {
    border-color: var(--var-alert-color);
}

.TableRow {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.TableRow:first-child {
    border-radius: var(--ui-border-radius) var(--ui-border-radius) 0 0;
    background-color: var(--ui-widget-background-color);
}

.TableRow:last-child {
    border-radius: 0 0 var(--ui-border-radius) var(--ui-border-radius);
}

.TableCell {
    background-color: var(--ui-panel-color);
}

.TableHeaderCell,
.TableCell {
    padding: 0.75rem;
}

.TableHeaderCell {
    font-weight: bold;
}
