:root {
    --var-text-color-alt: #d7dae0;

    --var-widget-color: #babec4;
    --var-highlight-color: #dfe8f5;
    --var-foreground-color: #353b45;
    --var-panel-color: #212529;
    --var-background-color: #282c34;
    --var-border-color: #181a1f;
    --var-page-background-color: #293241;
    --var-alert-color: #ec04046b;
    --var-button-primary-color: rgb(14, 35, 158);

    --ui-font: 'Helvetica Neue';
    --ui-text-color: #aab2c0;

    --ui-accent-color: #29487c;
    --ui-value-positive-color: rgb(3, 146, 27);
    --ui-value-negative-color: rgb(197, 0, 0);
}

.btn {
    padding: 0.2rem 0.6rem;
    color: var(--ui-text-color);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--var-button-primary-color);
}

.btn-danger {
    background-color: #dc3545;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.modal {
    display: block;
    height: 100%;
    left: 0;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1055;
}

.modal-dialog {
    margin: 0.5rem;
    pointer-events: none;
    position: relative;
    width: auto;
}

@media (min-width: 576px) {
    .modal-dialog {
        margin: 1.75rem auto;
        min-width: 500px;
    }
}

.modal-content {
    background-clip: padding-box;
    background-color: #292929;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    outline: 0;
    pointer-events: auto;
    position: relative;
    width: 100%;
}

.modal-body {
    flex: 1 1 auto;
    padding: 1rem;
    position: relative;
    background-color: #292929;
}

.modal-footer {
    align-items: center;
    border-bottom-left-radius: calc(0.3rem - 1px);
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-top: 1px solid #dee2e6;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 0.75rem;
}

.ButtonRow {
    display: flex;
    gap: 1rem;
}
